<div class="uk-margin uk-width-10xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <table class="uk-table">
        <caption>
            Places of Interest
        </caption>
        <thead>
            <th>Amount</th>
            <th>Location</th>
            <th>image</th>
            <th>Donor</th>
            </thead>
        <tbody class="uk-text-left">
        {{#each pointsofinterest}}
            <tr>
                <td> {{amount}} </td>
                <td> {{method}} </td>
                <td> {{image}} </td>
                <td> {{email}}  </td>
                <td> {{donor.firstName}} {{donor.lastName}} </td>

            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
