<form class="ui segment form" action="/update_pointofinterest/{{newpointofinterest._id}}" method="POST">
    <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input uk-form-large" type="text" name="poi" value="{{newpointofinterest.poi}}">
        </div>
    </div>
    <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input uk-form-large" type="text" name="method" value="{{newpointofinterest.method}}">
        </div>
    </div>
    <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: mail"></span>
            <input class="uk-input uk-form-large" type="text" name="text" value="{{newpointofinterest.text}}">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-select">Select</label>
        <div class="uk-form-controls">
            <select name="category" class="uk-select" value="{{newpointofinterest.category}}">
                <option value="{{newpointofinterest.category.name}}"></option>
                {{#each categories}}
                    <option value="{{name}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="uk-margin">
        <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Update </button>
    </div>
</form>