<div class="uk-margin uk-width-10xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <table class="uk-table">
        <caption>
            Places of Interest
        </caption>
        <thead>
            <th>Point of Interest</th>
            <th>Location</th>
            <th>image</th>
            <th>terrain</th>
            <th>User Name</th>

            <th></th>
            </thead>
        <tbody class="uk-text-left">
        {{#each pointsofinterest}}
            <tr>
                <td> {{poi}} </td>
                <td> {{text}} </td>
                <td> {{method}} </td>
                <td> {{checkbox}}  </td>
                <td> {{donor.firstName}} {{donor.lastName}} </td>
                <td>

                    <a href="/dashboard/deleteassessment/{{id}}"  class="ui icon button">
                        <i class="icon trash"></i>
                </td>

            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
